.chat-container {
    width: 100%;
    max-width: 700px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background: #f9f9f9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .upload-container {
    display: flex;
    gap: 15px; 
    align-items: center;
    justify-content: space-between;
  }
  
  .file-upload, .text-upload {
    display: flex;
    flex: 1;
    gap: 10px;
  }
  
  .file-upload input, .text-upload textarea {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
    align-items: end;
  }
  
  .file-upload button, .text-upload button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .text-upload-button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 75px;
  }
  
  .text-upload textarea {
    height: 30px;
    min-height: 30px;
    max-height: 100px;
  }
  
  .chat-box {
    height: 450px;
    overflow-y: auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  .chat-box::-webkit-scrollbar {
    display: none;
  }
  
  .chat-message {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding: 1px;
  }

  .chat-box .chat-message:last-child{
    border-bottom: none;
  }
  
  .user-message {
    max-width: 70%;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  
  .ai-message {
    right: 0;
    max-width: 100%;
    background-color: #e0e0ff;
    padding: 10px;
    border-radius: 10px;
    margin-left: 100px;
    margin-bottom: 10px;
  }
  
  .loading {
    text-align: center;
    font-style: italic;
  }
  
  .chat-input {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .chat-input input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .chat-input button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .error-message {
    background-color: #ffdddd;
    color: #d8000c;
    border: 1px solid #d8000c;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  